<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJjP-avXJ0btdDrS-hZr5mUQmm2Ieet-g</string>
	<key>GCM_SENDER_ID</key>
	<string>170226610519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectshowcase</string>
	<key>PROJECT_ID</key>
	<string>projectshowcase-56c2b</string>
	<key>STORAGE_BUCKET</key>
	<string>projectshowcase-56c2b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170226610519:ios:your-ios-app-id</string>
</dict>
</plist>
